NEXT_PUBLIC_INTERCOM_APP_ID=<INTERCOM_APP_ID>
NEXT_PUBLIC_CDN_URL=<CDN_URL>
MAILGUN_API_KEY=<MAILGUN_API_KEY>
NEXT_PUBLIC_MAILGUN_PROJECT_ID=<MAILGUN_PROJECT_ID>
NEXT_PUBLIC_MAILGUN_PUBLIC_KEY=<MAILGUN_PUBLIC_KEY>
.